.main{
    display: flex;
    align-items: center;
    padding: 5px;
}

.container{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}
.form-group{
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.input{
    padding-top: 100px;
    margin-left: 30px;
}
.submit{
    margin: 5px 0;
}
.check{
    padding-right: 5px;
}
p{
    display: inline-block;
}